@import "./variables.scss";

// Styles for Product Table
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 1rem;

	th,
	td {
		padding: 0.75rem;
		border: 1px solid #ccc;
		text-align: left;
	}

	th {
		background-color: $navBack;
		color: white;
	}

	tr:nth-child(even) {
		background-color: #f2f2f2;
	}

	tr:hover {
		background-color: #ddd;
	}
}
